<!DOCTYPE html>
<html>
<head>
  <title>TecnoDuda</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">


    <div class="row-fluid">
      <div class="span6">
        TITTLE
        <div class="row-fluid">
          <div class="span6">HEAD</div>



         <ul class="nav nav-tabs">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li><a href="#">Preguntas</a></li>
            <li><a href="#">Materias</a></li>
        </ul>


        </div>
      </div>
      <div class="span5 offset5"></div>
      
      <div class="img-polaroid">
          <%= image_tag('user.jpg')  %>
          <i class="icon-search pull-right"></i>
      </div>



    </div>
  
</div>

</div>


</body>
</html>
