<!DOCTYPE html>
<html>
<head>
  <title>TecnoDuda</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">




<div class="row-fluid">
    <div class="span10">
      <p class="text-left"><h1>T3cn0Du?@</h1></p>
    </div>
    <div class="span2">
      <div class="img-polaroid">
          <%= image_tag('user.jpg')  %>
      </div>
          <i class="icon-user"></i>
          <i class="icon-off"></i>
    </div>

    <div class="span1 offset1"></div>

          <ul class="nav nav-tabs">
              <li class="active">
                <a href="#">Home</a>
                <div>

                <div>

              </li>
              <li><a href="#">Preguntas</a></li>
              <li><a href="#">Materias</a></li>
          </ul>

      </div>

  </div>


</div>


</body>
</html>
